[core]
  editor = nvim
  pager = delta
[user]
  email = eugene.kostroma@gmail.com
  name = Yauheni Kastrama
[safe]
  directory = *
[interactive]
  diffFilter = delta --color-only
[delta]
  true-color = always
  line-numbers = true
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvimdiff"]
 cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"" 
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -sb
[credential "helperselector"]
	selected = manager
